# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
cache: packages
dist: trusty
r:
- bioc-release

warnings_are_errors: true

bioc_required: true

bioc_packages: 
  - BiocParallel

r_github_packages:
  - r-lib/covr
  - mjhelf/Rdisop

after_success:
  - Rscript -e 'covr::codecov()'